.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  border-radius: 35px;
  border: 2px solid white;
}

.App-header {
  background-color: #3bd5e8;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.contactInfo {
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
  color: #147192;

}
